.container {
    max-width: 700px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 516px) {
        order: 1;
        flex-direction: column;
    }
}

.input {
    display: block;
    flex: 0 1 280px;

    &+.input {
        margin-left: 20px;

        @media screen and (max-width: 516px) {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 516px) {
        flex: 1;
    }
}