<div class="header">
    <div class="header__left">{{ name }}: </div>
    <div class="header__right"> 
        <input type="number" 
            [value]="input.value" 
            [(ngModel)]="value" 
            (ngModelChange)="inputChanged($event)" 
            [min]="min" 
            [max]="max"> 
        {{ unit }}
    </div>
</div>
<input type="range" #input="ngModel"
    [min]="min" 
    [max]="max" 
    [step]="step"
    [(ngModel)]="value"
    (ngModelChange)="inputChanged($event)">
<div class="footer">
    <div class="footer__left">{{ min }}</div>
    <div class="footer__right">{{ max }}</div>
</div>
